#root {
  text-align: center;
  --color-primary: #BB86FC;
  --color-primary-variant: #3700B3;
  --color-secondary: #03DAC6;
  --color-background: #121212;
  min-height: 100vh;
  background: linear-gradient(to bottom right, var(--color-background), var(--color-primary-variant));
}

.app-container {
  max-width: 1280px;
  margin: auto;
  padding-bottom: 24px;
  min-height: calc(100vh - 84px);
}

.app-content {
  display: flex;
}

.hitsContainer {
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .app-content {
    flex-direction: column;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}